<%
#### Show a single post.
 %>

<p class="btn-group">
	<%= link_to(posts_path, class: "btn btn-default btn-sm") do %>
			<span class="glyphicon glyphicon-circle-arrow-left"></span> Back to All Posts
	<% end %>
	<%= link_to(edit_post_path(@post), title: "Edit", class: "btn btn-default btn-sm") do %>
		<span class="glyphicon glyphicon-cog"></span>
	<% end %>
</p>

<h1><%= @post.title %></h1>

<p>
	<%= @post.text %>
</p>

<hr>

<span class="badge pull-right"><%= @post.comments.count %></span>
<h2>Comments</h2>

<ul class="comments list-group">
	<%= render @post.comments %>
</ul>

<h3>Add a Comment</h3>
<%= render "comments/form" %>